<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css" integrity="sha512-NXUhxhkDgZYOMjaIgd89zF2w51Mub53Ru3zCNp5LTlEzMbNNAjTjDbpURYGS5Mop2cU4b7re1nOIucsVlrx9fA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Admin Panel</title>
</head>
<body>
<header>
    <div class="container">
        <div class="row align-item-center justify-content-betwwen">
            <div class="logo">
                <img src="../images/logo-1.png" alt="logo-1">
            </div>
            <div class="nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/product/addnewproduct">Add Product</a></li>
                    <li><a href="/orders">Orders</a></li>
                    <li><a href="/user/logout">logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="user">
    <div class="container">
        <h3>Admin Panel <span><%= user.roll %></span></h3>
    </div>
</div>

<div class="myproduct-main">
    <div class="container">
        <h5>Your Product List</h5>
        <div class="row myrow justify-content-betwwen">
            <div class="myproduct">image</div>
            <div class="myproduct">Product Name</div>
            <div class="myproduct">Prize</div>
            <div class="myproduct">Quantity</div>
            <div class="myproduct">Category</div>
            <div class="myproduct">Edit</div>
            <div class="myproduct">Remove</div>
        </div>
        <% data.forEach((i) => { %>
        <div class="row justify-content-betwwen align-item-center">
            <div class="myproduct">
                <img src="images/<%= i.image %>" alt="image">
            </div>
            <div class="myproduct">
                <h3><%= i.productname %> </h3>
            </div>
            <div class="myproduct">
                <p>Rs. <%= i.prize %></p>
            </div>
            <div class="myproduct">
                <%= i.quantity %>
            </div>
            <div class="myproduct">
                <%= i.category.category %>
            </div>
            <div class="myproduct">
                <a href="/product/editproduct/<%= i._id %>">Edit</a>
            </div>
            <div class="myproduct">
                <a href="/product/removeproduct/<%= i._id %>">Remove</a>
            </div>
        </div>
        <% }) %>
    </div>
</div>

</body>

<script>
    <% if(flash.success && flash.success.length > 0){ %>
        new Noty({
            text : '<%= flash.success %>',
            type : 'success',
            timeout : 1000,
        }).show()
    <% } %>
    
    <% if(flash.error && flash.error.length > 0){ %>
        new Noty({
            text : '<%= flash.error %>',
            type : 'error',
            timeout : 1000,
        }).show()
    <% } %>
</script>
</html>